@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000000; /* Black */
  font-family: 'Share Tech Mono', monospace;
}

#root {
  min-height: 100%;
  background-color: #00008B; /* Dark Blue */
}

.glow {
  text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 30px #00FFFF;
}

.text-shadow-password {
    text-shadow: 0 0 6px rgba(0,255,255,0.8), 0 0 20px rgba(0,255,255,0.5);
    color: rgba(0,255,255,0);
}

.text-shadow-password::placeholder {
    text-shadow: none;
    color: #6b7280;
}
